@use "./../../assets/mixin" as m;
@use "./Address/address";

.profile {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "image desc"
    "address address";
  width: fit-content;
  height: fit-content;

  &-image {
    grid-area: image;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &-desc {
    grid-area: desc;
    width: 100%;
    height: 100%;
  }

  &-address {
    @include m.flex($direction: column);
    padding: 2%;
    grid-area: address;
    width: 100%;
    height: 100%;
  }
}
